.external-post-horizontal-list-container {
	text-align: center;
	max-width: 100%;
}

.post-horizontal-list-box {
	max-width: 100%;
}

.singlepost-horizontal-list-box {
	float: left;
	margin: 0px 0 25px !important;
	padding: 0 25px 0;
	max-width: 33%;
}

.post-horizontal-list-title-wrapper {
	background-image: url("../img/dots.png");
	background-repeat: repeat-x;
	background-position: center;
	text-align: center;
}

.post-horizontal-list-title {
    display: inline;
    text-align: center;
    background-color: $beige1;
    padding: 12px 30px 12px;
}

.post-horizontal-list-boxthumbnail:hover img {
	filter: opacity(30%); 
	-webkit-filter: opacity(30%);
}

.post-horizontal-list-boxthumbnail:hover .post-horizontal-list-write-over-img { 
	display:block;
}

.post-horizontal-list-boxthumbnail {
  position: relative; 
}

/* post-horizontal-list-write-over-img */

.post-horizontal-list-write-over-img { 
   display:none; 
   position: absolute; 
   top: 44%; 
   left: 0; 
   width: 100%;
   padding:0 !important;
   margin:0 !important;
   color: $green1 !important;
   font-size: 18px !important;
   font-weight: bold !important;
}

/* room form css */

.roomformboxcontainer {
	background-color: $beige3;
	padding-top: 2px;
}

.roomformtitlewrapper {
	background-repeat: repeat-x;
	background-position: center;
	text-align: center;
}

.roomform form {	
	padding: 0 25px 25px;
	
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
	
.roomform form .room-big-field-container {
	-webkit-flex: 2;
	-ms-flex:     2;
	flex:         2;
	margin-right: 25px;
}
	
.roomform form .room-small-field-container {
	-webkit-flex: 1;
	-ms-flex:     1;
	flex:         1;
	margin-right: 25px;
}
	
.roomform form input[type="text"],
.roomform form input[type="email"],
.roomform form input[type="url"],
.roomform form input[type="password"],
.roomform form input[type="search"],
.roomform form select {
	padding: 6px 0 6px 15px;
	margin: 0 !important;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
	
.roomform form select {
	width: 100%;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	outline:none;
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
	line-height: 24px;
	color: $color__text-input;
	font-family: $font__titles;
	font-size: 1.6rem;
	border: 1px solid $color__border-input;
	border-radius: 0;
	background-color: $color__text-input-background;
}
	
.roomform form button,
.roomform form input[type="button"],
.roomform form input[type="reset"],
.roomform form input[type="submit"] {
	margin:0;
}
