.horizontal-list-external-container {
	text-align: center;
	max-width: 100%;
}

.horizontal-list-posts-box {
	max-width: 100%;
}

.horizontal-list-post-box {
	float: left;
	margin: 0px 0 25px !important;
	padding: 0 25px 0;
	max-width: 33%;
}

.horizontal-list-title-wrapper {
	background-repeat: repeat-x;
	background-position: center;
	text-align: center;
}

.horizontal-list-title {
    display: inline;
    text-align: center;
    padding: 12px 30px 12px;
}

.horizontal-list-post-thumbnail-box:hover img {
	filter: opacity(30%); 
	-webkit-filter: opacity(30%);
}

.horizontal-list-post-thumbnail-box:hover .horizontal-list-script-over-img { 
	display:block;
}

.horizontal-list-post-thumbnail-box {
  position: relative; 
}

.horizontal-list-script-over-img { 
   display:none; 
   position: absolute; 
   top: 44%; 
   left: 0; 
   width: 100%;
   padding:0 !important;
   margin:0 !important;
   font-size: 18px !important;
   font-weight: bold !important;
}

/* room form css */

.roomformboxcontainer {
	padding-top: 2px;
}

.roomformtitlewrapper {
	background-repeat: repeat-x;
	background-position: center;
	text-align: center;
}

.roomform{
	form {	
		padding: 0 25px 25px;
	
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		
		.room-big-field-container {
			-webkit-flex: 2;
			-ms-flex:     2;
			flex:         2;
			margin-right: 25px;
		}
		
		.room-small-field-container {
			-webkit-flex: 1;
			-ms-flex:     1;
			flex:         1;
			margin-right: 25px;
		}
		
		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="password"],
		input[type="search"],
		select {
			padding: 6px 0 6px 15px;
			margin: 0 !important;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
		}
		
		select {
			width: 100%;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			outline:none;
			display: inline-block;
			-webkit-appearance:none;
			-moz-appearance:none;
			appearance:none;
			cursor:pointer;
			line-height: 24px;
			font-size: 1.6rem;
			border-radius: 0;
		}
	
		button,
		input[type="button"],
		input[type="reset"],
		input[type="submit"] {
			margin:0;
		}
	}	
}
